<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="WorkflowTraceToDefault" value="1" />
			<add name="Host" value="All" />
			<add name="Runtime" value="All" />
			<add name="Tracking" value="All" />
			<add name="Activity" value="All" />
			<add name="Rules" value="All" />
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WFTrace.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>