<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section 
      name="WorkflowConfiguration" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
           System.Workflow.Runtime, Version=3.0.00000.0, 
           Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <WorkflowConfiguration>
    <CommonParameters>
      <add name="ConnectionString" 
           value="Data Source=(local);Initial Catalog=WorkflowDB; 
				         Integrated Security=true"/>
    </CommonParameters>
    <Services>
      <add 
        type="System.Workflow.Runtime.Tracking.SqlTrackingService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35" 
              
             />
      <add 
        type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35" 
              UnloadOnIdle="true"
             />
      <add 
        type=
"System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35" />
    </Services>
  </WorkflowConfiguration>
</configuration>

<!-- tracking

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section 
      name="WorkflowWithTracking" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
           System.Workflow.Runtime, Version=3.0.00000.0, 
           Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <WorkflowWithTracking>
    <CommonParameters>
      <add name="ConnectionString" 
           value="Data Source=(local);Initial Catalog=WorkflowDB; 
				         Integrated Security=true"/>
    </CommonParameters>
    <Services>
      <add 
        type="System.Workflow.Runtime.Tracking.SqlTrackingService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35" 
              
             />
    </Services>
  </WorkflowWithTracking>
</configuration>-->

<!-- persistence


<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section 
      name="WorkflowWithPersistence" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
           System.Workflow.Runtime, Version=3.0.00000.0, 
           Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <WorkflowWithPersistence>
    <CommonParameters>
      <add name="ConnectionString" 
           value="Data Source=(local);Initial Catalog=WorkflowDB; 
				         Integrated Security=true"/>
    </CommonParameters>
    <Services>
      <add 
        type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35" 
              UnloadOnIdle="true"
             />
    </Services>
  </WorkflowWithPersistence>

</configuration>-->

<!-- dual schedulers 
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="ManualRuntime" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
            System.Workflow.Runtime, Version=3.0.00000.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section 
      name="DefaultRuntime" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
            System.Workflow.Runtime, Version=3.0.00000.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
    
  <ManualRuntime>
    <Services>
      <add type=
	    "System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService,
         System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
         PublicKeyToken=31bf3856ad364e35"
         useActiveTimers="true"/>
    </Services>
  </ManualRuntime>

  <DefaultRuntime>
    <Services>
      <add type=
	    "System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService,
         System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
         PublicKeyToken=31bf3856ad364e35" 
        maxSimultaneousWorkflows="3" />			
    </Services>
  </DefaultRuntime>	
</configuration>
-->
<!-- skeleton config

<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section 
	  name="MyRuntime" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
            System.Workflow.Runtime, Version=3.0.00000.0, 
	        Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <MyRuntime>
    <CommonParameters>
      -->
<!-- add parameters used by all services -->
<!--
    </CommonParameters>
    <Services>			
      -->
<!-- add services -->
<!--
    </Services>
  </MyRuntime>

</configuration>-->

<!-- Trace to log file

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <switches>
            <add name="System.Workflow.Runtime" value="All" />
            <add name="System.Workflow.Runtime.Hosting" value="All" />
            <add name="System.Workflow.Runtime.Tracking" value="Critical" />
            <add name="System.Workflow.Activities" value="Warning" />
            <add name="System.Workflow.Activities.Rules" value="Off" />

            <add name="System.Workflow LogToFile" value="1" />
        </switches>
    </system.diagnostics>
</configuration>-->

<!-- Trace to listeners

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <switches>
            <add name="System.Workflow.Runtime" value="All" />
            <add name="System.Workflow.Runtime.Hosting" value="All" />
            <add name="System.Workflow.Runtime.Tracking" value="Critical" />
            <add name="System.Workflow.Activities" value="Warning" />
            <add name="System.Workflow.Activities.Rules" value="Off" />

            <add name="System.Workflow LogToTraceListeners" value="1" />
        </switches>
    </system.diagnostics>
</configuration>-->

