<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section 
      name="WorkflowWithTracking" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
            System.Workflow.Runtime, Version=3.0.00000.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <WorkflowWithTracking>
    <CommonParameters>
      <add name="ConnectionString" 
           value="Data Source=(local);Initial Catalog=WorkflowDB; 
				         Integrated Security=true"/>
    </CommonParameters>
    <Services>
      <add 
        type="System.Workflow.Runtime.Tracking.SqlTrackingService,
              System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
              PublicKeyToken=31bf3856ad364e35"              
             />
    </Services>
  </WorkflowWithTracking>
  
</configuration>

<!-- tracing

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
      <switches>
        <add name="System.Workflow.Activities.Rules" value="All" />
        <add name="System.Workflow LogToFile" value="1" />
      </switches>
    </system.diagnostics>
</configuration>-->

