<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="chapter8_Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <chapter8_Communication.Properties.Settings>
            <setting name="chapter8_Communication_HelloWorldService_HelloWorldWorkflow_WebService"
                serializeAs="String">
                <value>http://localhost:1069/Chapter8_WebService_WebService/Chapter8_WebService.HelloWorldWorkflow_WebService.asmx</value>
            </setting>
        </chapter8_Communication.Properties.Settings>
    </applicationSettings>
</configuration>